#include "resource.h"

IDR_CHIPDB_384 BINARYFILE "..\chipdbs\chipdb-384.bin"
IDR_CHIPDB_1K  BINARYFILE "..\chipdbs\chipdb-1k.bin"
IDR_CHIPDB_5K  BINARYFILE "..\chipdbs\chipdb-5k.bin"
IDR_CHIPDB_8K  BINARYFILE "..\chipdbs\chipdb-8k.bin"
