/generated/
/objs/
/nextpnr-generic*
/nextpnr-ice40*
/nextpnr-ecp5*
cmake-build-*/
Makefile
cmake_install.cmake
compile_commands.json
CMakeFiles
CMakeScripts
CTestfile.cmake
CMakeCache.txt
*.so
*.dll
*.a
*.cbp
*.depends
.*.swp
a.out
*.json
build/
*.asc
*.bin
/Testing/*
CTestTestfile.cmake
install_manifest.txt
/bbasm
/ImportExecutables.cmake
