/generated/
/objs/
/nextpnr-generic*
/nextpnr-ice40*
/nextpnr-ecp5*
/nextpnr-nexus*
/nextpnr-fpga_interchange*
/nextpnr-gowin*
/nextpnr-machxo2*
/nextpnr-himbaechel*
.cache
cmake-build-*/
Makefile
cmake_install.cmake
compile_commands.json
CMakeFiles
CMakeScripts
CTestfile.cmake
CMakeCache.txt
*.so
*.dll
*.a
*.cbp
*.depends
.*.swp
a.out
*.json
*.dot
*.il
/generic/examples/blinky.png
build/
share/
*.asc
*.bin
/Testing/*
CTestTestfile.cmake
install_manifest.txt
/bba/bbasm
/bba-export.cmake
/ImportExecutables.cmake
*-coverage/
*-coverage.info
*.netlist
*.phys
*.dcp
*.bit
