/generated/
/objs/
/nextpnr-generic*
/nextpnr-ice40*
/nextpnr-ecp5*
/nextpnr-xc7*
cmake-build-*/
Makefile
cmake_install.cmake
compile_commands.json
CMakeFiles
CMakeScripts
CTestfile.cmake
CMakeCache.txt
*.so
*.dll
*.a
*.cbp
*.depends
.*.swp
a.out
*.json
build/
*.asc
*.bin
/Testing/*
CTestTestfile.cmake
install_manifest.txt
/bbasm
/ImportExecutables.cmake
*-coverage/
*-coverage.info

# nextpnr-xc7
*.xdl
*.bit

# ise
_xmsgs/
*.bgn
*.drc
*.ncd
*.xwbt
usage_statistics_webtalk.html
webtalk.log
xilinx_device_details.xml
*_fpga_editor.*
*.twr
*.twx
*.nlf
*.sdf
