COMP "led1" LOCATE = SITE "M14" LEVEL 1;
COMP "led2" LOCATE = SITE "M15" LEVEL 1;
COMP "led3" LOCATE = SITE "G14" LEVEL 1;
COMP "led4" LOCATE = SITE "D18" LEVEL 1;
COMP "clki" LOCATE = SITE "L16" LEVEL 1;

