set_io serial_rx 9
set_io serial_tx 8
set_io serial_rts 7
set_io serial_cts 4
set_io serial_dtr 3
set_io serial_dsr 2
set_io serial_dcd 1
set_io user_led 99
set_io sio_rst 48
set_io sio_txd 56
set_io sio_rxd 60
set_io sio_sclk 61
set_io sio_busy 62
set_io sio_tclk 47
set_io user_led_1 98
set_io user_led_2 97
set_io user_led_3 96
set_io debug 119
set_io debug_1 118
set_io clk12 21
